doctype html
html
	head
		- var site = { title: 'Countdown to Stranger Things Season 2', url: 'http://www.strangerthingscountdown.com', image: 'http://www.strangerthingscountdown.com/assets/images/og-image.jpg', description: 'How much longer do you have to wait until returning to The Upside Down? Stranger Things Season 2 coming soon to Netflix.'}
		each val, key in site
			meta(property='og:'+key, content=val)

		- var tCard = { description: site.description, title:site.title, site: '@studiozeroco', card: 'summary_large_image', image: site.image}
		
		each val, key in tCard
			meta(name='twitter:'+key, content=val)

	meta(charset='utf-8')
	title #{site.title}
	meta(name='description', content="How much longer do you have to wait until returning to The Upside Down? Stranger Things Season 2 coming soon to Netflix.")
	script(src="assets/js/main.js")
	link(rel="stylesheet", href="assets/css/main.css")

	body
		
		img.netflix(src="assets/images/netflix.png")
		.share
			a(class="share-btn share-btn-branded share-btn-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.strangerthingscountdown.com" title="Share on Facebook")
				span(class="share-btn-icon")
			a(class="share-btn share-btn-branded share-btn-twitter" target="_blank" href="https://twitter.com/home?status=251%20days%20to%20go%20until%20%40Stranger_Things%20returns%20to%20%40netflix.%0A%0Astrangerthingscountdown.com%20%20%23strangerthingscountdown%20%23StrangerThings" title="Share on Twitter")
				span(class="share-btn-icon")
			a(href="https://www.netflix.com/title/80057281" target="_blank" alt="Watch Stanger Things Season one" class="share-btn")
				span() Watch Season 1


		a-scene()
			a-assets
				a-asset-item#thingsFont(src="assets/fonts/font.json")
				img#background(src="http://res.cloudinary.com/studio-zero/image/upload/v1487668256/background_rljwo7.png")
				//- audio#sound(src="assets/sounds/underwater.mp3" loop autoplay)

			a-entity#person(position="0 1.67 0")
				a-entity(camera, look-controls)

			a-sky(src="#background")
			a-entity#particle(position="0 0 0" particle-system="preset: dust; type:3; opacity:0.2;size:8;accelerationValue:0 0 0.01; rotationAngle:200; rotationAxis:z; maxParticleCount:50;")

			a-entity#two(text="text: 2; font: #thingsFont;" scale="5 5 2" position="1 0 5" rotation="0 180 0" material="color:#650505;metalness:0.5; roughness: 0.2; sphericalEnvMap: #background;")
			
			a-entity#countdown(position="-2.5 -0.2 -8")
				a-entity(countdown text="text: ...starting countdown; font:#thingsFont" position="0 0 0" material="color:#650505;")

			a-entity(geometry="primitive:plane;height:0.75;width:1;" material="shader:gif;src:url(http://res.cloudinary.com/studio-zero/image/upload/v1487668273/st_rklgjf.gif);opacity:0.5;", position="2.4 0.4 2", rotation="0 230 0")


<!--THIS WAS MADE BY STUDIO ZERO-->
<!--THIS WAS MADE BY STUDIO ZERO -->
<!--THIS WAS MADE BY STUDIO ZERO -->

	script.
		(function(s,t,u,d,i,o,z){s['GoogleAnalyticsObject']=i;s[i]=s[i]||function(){
		(s[i].q=s[i].q||[]).push(arguments)},s[i].l=1*new Date();o=t.createElement(u),
		z=t.getElementsByTagName(u)[0];o.async=1;o.src=d;z.parentNode.insertBefore(o,z)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-90214138-3', 'auto');
		ga('send', 'pageview');